$divecolor: white;
$pagecolor: #006699;
$container-color: #E2E6FF;

body {
  background-color: $pagecolor;
  font-family: Helvetica, Arial;
  font-size: 13px;
  color: black;
  margin: 0px; }

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0; }

a, a:visited, a:link {
  color: #4DA6FF;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline; } }

#header {
  border-bottom: "1px" "solid" $pagecolor * 0.5;
  padding: 10px;
  overflow: auto;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #eeeeff;
  height: 170px;
  div.header {
    margin: 0 auto 0 auto;
    width: 750px;
    padding-top: 50px; }
  h1 {
    font-size: 35px;
    font-weight: normal;
    font-family: Helvetica, Arial, Sans Serif;
    margin: 15px 0 0 25px; }
  .strapline {
    margin-left: 25px;
    font-size: 12px;
    font-style: italic;
    a {
      color: #009;
      font-weight: normal;
      &:hover {
        text-decoration: underline;
      }
    }
  } }

#content {
  padding: 10px;
  overflow: auto;
  h2 {
    margin: 0;
    font-size: 26px; }
  h3 {
    font-size: 18px;
    font-weight: normal; } }

#formBox {
  #container {
    background-color: $container-color;
    overflow: auto;
    width: 750px;
    margin: 0 auto 0 auto;
    .column {
      padding: 10px;
      float: left;
      width: 230px;
      input {
        clear: left;
        float: left;
        display: block;
        padding: 0; }
      label.radio {
        clear: none;
        margin: 0 0 0 25px;
        padding: 0 0 8px;
        display: block; } }
    .disabled {
      color: $pagecolor * 0.75; }
    a {
      font-weight: normal;
    }
  }
  .row {
    width: 730px;
    padding: 10px;
    margin: 10px auto 10px auto;
    background-color: $container-color;
    overflow: auto;
    input.submit {
      background-color: #f3f3f3;
      border-color: #cccccc #999999 #999999 #cccccc;
      border-style: solid;
      border-width: 1px;
      color: #333333;
      float: right;
      font-size: 1.2em;
      font-weight: bold;
      height: 4em;
      width: 14em; } } }

#diveresult {
  width: 730px;
  padding: 10px;
  margin: 10px auto 10px auto;
  background-color: $container-color;
  overflow: auto;
  clear: both;
  display: none;
  #summary {
    float: left; }
  #download {
    float: right; }
  #divepool {
    padding-top: 10px;
    overflow: auto;
    clear: left;
    .dive {
      width: 131px;
      padding: 5px;
      background-color: $pagecolor * 1.35;
      color: $divecolor;
      margin: 0 5px 5px 0;
      float: left;
      overflow: auto;
      .number {
        font-size: 0.8em;
        float: left; }
      .sequence {
        font-weight: bold;
        float: right;
        text-align: right;
        font-size: 1.1em;
        .divider {
          &::before {
            content: '-';
            color: rgba(255,255,255,0.5);
          }
          padding: 0 0.2em 0 0.2em;
        }
      } } } }
